/* 🖤🖤🖤 PART I ROOT 🖤🖤🖤  */

:root {
  /* fonts */
  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  /* colors */

  --accent-main-color: #4d5ae5;
  --accent-second-color: #404bbf;
  --auxiliary-one-color: #31d0aa;
  /* --pilot */
  --servo-first-color: #f4f4fd;
  --servo-second-color: #8e8f99;
  --servo-third-color: #e7e9fc;
  --dark-main-color: #2e2f42;
  --dark-second-color: #434455;
  --light-main-color: #ffffff;
  --light-second-color: #f4f4fd;

  /* others */
  /* --anim-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

/* 💜💜💜 PART II GLOBAL & HIDDEN 💜💜💜  */

body {
  font-family: var(--main-font);
  color: var(--dark-second-color);
  background-color: var(--light-main-color);
  /* Налаштувати інші глобальні стилі 
  line-height:
  background-color:
  */
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

/* .visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
} */

/* 💛💛💛 PART III TYPOGRAPHY 💛💛💛  */

.logo {
  color: var(--dark-main-color);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #4d5ae5;
}

/* .logo--color-part {
  color: var(--accent-main-color);
} */

.logo--dark-part {
  color: var(--dark-main-color);
}

.logo--light-part {
  color: var(--servo-first-color);
}

.header__link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: #2e2f42;
}

.header__link:hover,
.header__link:focus {
  color: var(--accent-second-color);
}

.header__address {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;

  color: var(--dark-second-color);
}

.header__address:hover,
.header__address:focus {
  color: var(--accent-second-color);
}

.hero-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;

  color: var(--light-main-color);

  text-align: center;
}

.two_title {
  font-size: 36px;

  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--dark-main-color);

  text-align: center;
}

.three_title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--dark-main-color);

  text-align: center;
}

.body-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.body-text--light {
  color: var(--servo-first-color);
}

/* 💙💙💙 PART IV BUTTONS 💙💙💙  */

.button {
  /* font-family: "Roboto", sans-serif; */
  font-family: inherit;
  /* border-radius: 4px; */
  background: var(--accent-main-color);
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15); */

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--light-main-color);

  cursor: pointer;
}

.button:hover,
.button:focus {
  background: var(--accent-second-color);
}

/* 💚💚💚 PART V SECTION 💚💚💚  */

.hero,
.footer {
  background-color: var(--dark-main-color);
}

.team {
  background-color: var(--servo-first-color);
}

/* 💚💚💚 PART VI OTHER 💚💚💚  */

.team__item {
  background-color: var(--light-main-color);
}
